.users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users div {
    width: 50%;
    text-align: center;
    border-top: 5px solid grey;
    padding: 20px;
}