* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  --colorDark: #545e75;
  --colorWhite: #dee5e5;
  --colorBlack: #1b1b1e;
  --lightBlue: #b9d6f2;
  --middleBlue: #3e92cc;
  --darkBlue: #1b4079;
  --mainFont: verdana;
  --fancyFont: "Permanent Marker", cursive;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 5rem;
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--colorDark);
}

h1 {
  grid-column: 1/-1;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 8rem;
  font-family: var(--fancyFont);
  color: var(--colorWhite);
}

.project {
  position: relative;
  min-width: 350px;
  min-height: 300px;
  margin: 0 30px;
  background: radial-gradient(
    circle at var(--x) var(--y),
    var(--middleBlue) 0%,
    var(--darkBlue) 80%
  );
  border-radius: 20px;
  box-shadow: 10px 10px 20px #1b1b1e;
  font-family: var(--mainFont);
}

.project__name {
  position: absolute;
  width: 100%;
  top: 100px;
  font-size: 3.5rem;
  text-align: center;
  color: var(--colorWhite);
  font-family: var(--fancyFont);
  pointer-events: none;
}

.project__mainTechnology {
  position: absolute;
  right: 0;
  top: 30px;
  width: 100px;
  height: 40px;
  font-size: 2rem;
  line-height: 40px;
  padding-left: 10px;
  border-radius: 10px 0 0 10px;
  background-color: var(--lightBlue);
  color: var(--colorBlack);
  pointer-events: none;
}

.project__github,
.project__preview {
  position: absolute;
  width: 150px;
  height: 50px;
  bottom: 50px;
  border: 2px solid var(--colorBlack);
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px 0;
  box-shadow: 1px 1px 5px var(--colorBlack);
  background-color: var(--lightBlue);
  color: var(--colorBlack);
}

.project__github {
  left: 15px;
}

.project__preview {
  right: 15px;
}
