@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1320px;
    margin: 10px auto 50px;
}

.btn__title {
    width: 100%;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    color: white;
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 20px;
    border: 3px solid grey;
}

.btn {
    position: relative;
    padding: 10px 30px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
    cursor: pointer;
}

// Button 1
.btn--1 {
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: white;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }

    &:hover::before {
        transform: translateX(0);
    }
}

// Button 2
.btn--2 {
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: white;
        transform: translateX(100%);
        transition: transform 0.3s;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: white;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }

    &:hover::before,
    &:hover::after {
        transform: translateX(0);
    }
}

//  Button 3
.btn--3 {
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: white;
        transform: scale(0);
        transition: transform 0.4s;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: white;
        transform: scale(0.5);
        transition: transform 0.4s;
    }

    &:hover::before {
        transform: scale(1);
    }

    &:hover::after {
        transform: scale(1) translateY(-90px);
    }
}

// Button 4
.btn--4 {
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 3px;
        background-color: white;
        transition: width 0.4s;
    }

    &:hover::after {
        width: 100%;
    }
}

// Button 5
.btn--5 {
    &::before {
        content: "";
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: 10%;
        height: 20%;
        border: 2px solid white;
        border-bottom-color: transparent;
        border-right-color: transparent;
        transition: all 0.4s;
    }

    &::after {
        content: "";
        content: "";
        position: absolute;
        bottom: -2px;
        right: -2px;
        width: 10%;
        height: 20%;
        border: 2px solid white;
        border-top-color: transparent;
        border-left-color: transparent;
        transition: all 0.4s;
    }

    &:hover::before,
    &:hover::after {
        width: 100%;
        height: 100%;
    }
}

// Button 6
.btn--6 {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid white;
        border-radius: 10px;
        transform: scale(0);
        transition: all 0.4s;
    }


    &:hover::before {
        transform: scale(1);
    }
}

// Button 7
.btn--7 {
    &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        border: 2px solid white;
        height: 100%;
        transition: all 0.4s;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        right: -2px;
        border: 2px solid white;
        height: 100%;
        transition: all 0.4s;
    }

    &:hover::before,
    &:hover::after {
        height: 0;
        width: 100%;
    }
}

// Button 8
.btn--8 {
    border: 3px solid white;

    &::before {
        content: "";
        position: absolute;
        top: -3px;
        left: 20px;
        width: 10%;
        height: 3px;
        background-color: black;
        transform: skew(45deg);
        transition: all 0.5s;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        right: 20px;
        width: 10%;
        height: 3px;
        background-color: black;
        transform: skew(-45deg);
        transition: all 0.5s;
    }

    &:hover::before {
        transform: translateX(170px) skew(-45deg);
    }

    &:hover::after {
        transform: translateX(-170px) skew(45deg);
    }
}

// Button 9
.btn--9 {
    width: 250px;
    height: 100px;
    border: 5px solid white;

    &::before {
        content: "";
        position: absolute;
        display: block;
        top: -5px;
        left: -10px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: black;
    }

    &:hover::before {
        animation: btn9 2s infinite;
    }
}

@keyframes btn9 {
    0% {
        top: -5px;
        left: -10px;
        width: 30px;
    }

    24% {
        width: 30px;
        height: 5px;
    }

    25% {
        top: -5px;
        left: 240px;
        width: 5px;
        height: 30px;
    }

    50% {
        top: 90px;
        left: 240px;
        width: 5px;
        height: 30px;
    }

    51% {
        width: 30px;
        height: 5px;
    }

    74% {
        width: 30px;
        height: 5px;
    }

    75% {
        top: 90px;
        left: -5px;
        width: 5px;
        height: 30px;
    }

    99% {
        width: 5px;
        height: 30px;
    }

    100% {
        top: -5px;
        left: -5px;
        width: 5px;
        height: 5px;
    }
}


// Button 10
.btn--10 {
    border: 2px solid white;

    &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: 100%;
        border: 1px solid white;
        transition: all 0.4s;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: -2px;
        width: 100%;
        border: 1px solid white;
        transition: all 0.4s;
    }

    &:hover::before {
        transform: translateY(-12px);
    }

    &:hover::after {
        transform: translateY(12px);
    }

    .btn--span {
        &::before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            height: 100%;
            border: 1px solid white;
            transition: all 0.4s;
        }

        &::after {
            content: "";
            position: absolute;
            top: -2px;
            right: -2px;
            height: 100%;
            border: 1px solid white;
            transition: all 0.4s;
        }
    }

    &:hover .btn--span::before {
        transform: translateX(-12px);
    }

    &:hover .btn--span::after {
        transform: translateX(12px);
    }
}

// Button 11
.btn--11 {
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: 100%;
        border: 2px solid white;
        transition: all 0.4s;
        transform: translateX(-100%);
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -2px;
        left: -2px;
        width: 100%;
        border: 2px solid white;
        transition: all 0.4s;
        transform: translateX(100%);
    }

    &:hover::before {
        transform: translateX(0);
    }

    &:hover::after {
        transform: translateX(0);
    }

    .btn--span {
        &::before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            height: 100%;
            border: 2px solid white;
            transition: all 0.4s;
            transform: translateY(100%);
        }

        &::after {
            content: "";
            position: absolute;
            top: -2px;
            right: -2px;
            height: 100%;
            border: 2px solid white;
            transition: all 0.4s;
            transform: translateY(-100%);
        }
    }

    &:hover .btn--span::before {
        transform: translateY(0);
    }

    &:hover .btn--span::after {
        transform: translateY(0);
    }
}

// Button 12
.btn--12 {
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        display: block;
        top: -2px;
        left: -2px;
        width: 100%;
        border: 2px solid white;
        transition: transform 0.2s 0.6s;
        transform: translateX(-100%);
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: -2px;
        left: -2px;
        width: 100%;
        border: 2px solid white;
        transition: transform 0.2s 0.2s;
        transform: translateX(100%);
    }

    &:hover::before {
        transform: translateX(0);
        transition: transform 0.2s;
    }

    &:hover::after {
        transform: translateX(0);
        transition: transform 0.2s 0.4s;
    }

    .btn--span {
        &::before {
            content: "";
            position: absolute;
            display: block;
            top: -2px;
            left: -2px;
            height: 100%;
            border: 2px solid white;
            transition: transform 0.2s;
            transform: translateY(100%);
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            top: -2px;
            right: -2px;
            height: 100%;
            border: 2px solid white;
            transition: transform 0.2s 0.4s;
            transform: translateY(-100%);
        }
    }

    &:hover .btn--span::before {
        transform: translateY(0);
        transition: transform 0.2s 0.6s;
    }

    &:hover .btn--span::after {
        transform: translateY(0);
        transition: transform 0.2s 0.2s;
    }
}