.container {
    column-count: 5;
    column-gap: 10px;
}

.container img {
    width: 100%;
    height: auto;
    margin: 0 0 5px;
}

@media(max-width: 1200px) {
    .container {
        column-count: 4;
    }
}

@media(max-width: 1000px) {
    .container {
        column-count: 3;
    }
}

@media(max-width: 800px) {
    .container {
        column-count: 2;
    }
}

@media(max-width: 400px) {
    .container {
        column-count: 1;
    }
}