@import url("https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1320px;
  margin: 130px auto 50px;
}

.btn__title {
  position: absolute;
  top: 0;
  font-family: 'Bungee Shade', cursive;
  font-size: 50px;
  color: white;
}

.btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 400px;
  margin: 20px;
  border: 3px solid grey;
}

.btn {
  position: relative;
  padding: 10px 30px;
  background-color: black;
  color: white;
  border: none;
  font-family: 'Bungee Shade', cursive;
  font-size: 30px;
  cursor: pointer;
}

.btn--1 {
  overflow: hidden;
}

.btn--1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.btn--1:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.btn--2 {
  overflow: hidden;
}

.btn--2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.btn--2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.btn--2:hover::before, .btn--2:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.btn--3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.btn--3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.btn--3:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn--3:hover::after {
  -webkit-transform: scale(1) translateY(-90px);
          transform: scale(1) translateY(-90px);
}

.btn--4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: white;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.btn--4:hover::after {
  width: 100%;
}

.btn--5::before {
  content: "";
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 10%;
  height: 20%;
  border: 2px solid white;
  border-bottom-color: transparent;
  border-right-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--5::after {
  content: "";
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 10%;
  height: 20%;
  border: 2px solid white;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--5:hover::before, .btn--5:hover::after {
  width: 100%;
  height: 100%;
}

.btn--6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--6:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn--7::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid white;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--7::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  border: 2px solid white;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--7:hover::before, .btn--7:hover::after {
  height: 0;
  width: 100%;
}

.btn--8 {
  border: 3px solid white;
}

.btn--8::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 20px;
  width: 10%;
  height: 3px;
  background-color: black;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn--8::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 20px;
  width: 10%;
  height: 3px;
  background-color: black;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn--8:hover::before {
  -webkit-transform: translateX(170px) skew(-45deg);
          transform: translateX(170px) skew(-45deg);
}

.btn--8:hover::after {
  -webkit-transform: translateX(-170px) skew(45deg);
          transform: translateX(-170px) skew(45deg);
}

.btn--9 {
  width: 250px;
  height: 100px;
  border: 5px solid white;
}

.btn--9::before {
  content: "";
  position: absolute;
  display: block;
  top: -5px;
  left: -10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
}

.btn--9:hover::before {
  -webkit-animation: btn9 2s infinite;
          animation: btn9 2s infinite;
}

@-webkit-keyframes btn9 {
  0% {
    top: -5px;
    left: -10px;
    width: 30px;
  }
  24% {
    width: 30px;
    height: 5px;
  }
  25% {
    top: -5px;
    left: 240px;
    width: 5px;
    height: 30px;
  }
  50% {
    top: 90px;
    left: 240px;
    width: 5px;
    height: 30px;
  }
  51% {
    width: 30px;
    height: 5px;
  }
  74% {
    width: 30px;
    height: 5px;
  }
  75% {
    top: 90px;
    left: -5px;
    width: 5px;
    height: 30px;
  }
  99% {
    width: 5px;
    height: 30px;
  }
  100% {
    top: -5px;
    left: -5px;
    width: 5px;
    height: 5px;
  }
}

@keyframes btn9 {
  0% {
    top: -5px;
    left: -10px;
    width: 30px;
  }
  24% {
    width: 30px;
    height: 5px;
  }
  25% {
    top: -5px;
    left: 240px;
    width: 5px;
    height: 30px;
  }
  50% {
    top: 90px;
    left: 240px;
    width: 5px;
    height: 30px;
  }
  51% {
    width: 30px;
    height: 5px;
  }
  74% {
    width: 30px;
    height: 5px;
  }
  75% {
    top: 90px;
    left: -5px;
    width: 5px;
    height: 30px;
  }
  99% {
    width: 5px;
    height: 30px;
  }
  100% {
    top: -5px;
    left: -5px;
    width: 5px;
    height: 5px;
  }
}

.btn--10 {
  border: 2px solid white;
}

.btn--10::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  border: 1px solid white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--10::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -2px;
  width: 100%;
  border: 1px solid white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--10:hover::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.btn--10:hover::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.btn--10 .btn--span::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  height: 100%;
  border: 1px solid white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--10 .btn--span::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  height: 100%;
  border: 1px solid white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--10:hover .btn--span::before {
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

.btn--10:hover .btn--span::after {
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
}

.btn--11 {
  overflow: hidden;
}

.btn--11::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  border: 2px solid white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.btn--11::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -2px;
  left: -2px;
  width: 100%;
  border: 2px solid white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.btn--11:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.btn--11:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.btn--11 .btn--span::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  height: 100%;
  border: 2px solid white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.btn--11 .btn--span::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  height: 100%;
  border: 2px solid white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.btn--11:hover .btn--span::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn--11:hover .btn--span::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn--12 {
  overflow: hidden;
}

.btn--12::before {
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  left: -2px;
  width: 100%;
  border: 2px solid white;
  -webkit-transition: -webkit-transform 0.2s 0.6s;
  transition: -webkit-transform 0.2s 0.6s;
  transition: transform 0.2s 0.6s;
  transition: transform 0.2s 0.6s, -webkit-transform 0.2s 0.6s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.btn--12::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -2px;
  left: -2px;
  width: 100%;
  border: 2px solid white;
  -webkit-transition: -webkit-transform 0.2s 0.2s;
  transition: -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.btn--12:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.btn--12:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.2s 0.4s;
  transition: -webkit-transform 0.2s 0.4s;
  transition: transform 0.2s 0.4s;
  transition: transform 0.2s 0.4s, -webkit-transform 0.2s 0.4s;
}

.btn--12 .btn--span::before {
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  left: -2px;
  height: 100%;
  border: 2px solid white;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.btn--12 .btn--span::after {
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  right: -2px;
  height: 100%;
  border: 2px solid white;
  -webkit-transition: -webkit-transform 0.2s 0.4s;
  transition: -webkit-transform 0.2s 0.4s;
  transition: transform 0.2s 0.4s;
  transition: transform 0.2s 0.4s, -webkit-transform 0.2s 0.4s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.btn--12:hover .btn--span::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.2s 0.6s;
  transition: -webkit-transform 0.2s 0.6s;
  transition: transform 0.2s 0.6s;
  transition: transform 0.2s 0.6s, -webkit-transform 0.2s 0.6s;
}

.btn--12:hover .btn--span::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.2s 0.2s;
  transition: -webkit-transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s;
  transition: transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
}
/*# sourceMappingURL=button_1.css.map */