/* General */
body {
  background-color: #403F4C;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  max-width: 1300px;
  min-width: 400px;
  margin: 30px auto;
  counter-reset: loaderCounter;
}

.loader-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: white;
  font-size: 35px;
  font-family: verdana, serif;
  font-style: italic;
  letter-spacing: 5px;
}

.loader-container {
  width: 400px;
  height: 400px;
  margin: 10px;
  border: 3px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loader-container p {
  position: absolute;
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
  color: lightblue;
}

.loader-container p::after {
  counter-increment: loaderCounter;
  content: counter(loaderCounter);
}

.loader-container:hover {
  border-color: #296DCF;
}

/* Loader #1 */
.loader-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 96px;
}

.loader-1 > span {
  width: 30px;
  height: 30px;
  background-color: #296DCF;
  margin: 1px;
  -webkit-animation: loader-1 0.8s infinite alternate;
          animation: loader-1 0.8s infinite alternate;
}

.loader-1 > span:nth-child(2) {
  background-color: #569BFC;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader-1 > span:nth-child(3) {
  background-color: #8EBCFD;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader-1 > span:nth-child(4) {
  background-color: #569BFC;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader-1 > span:nth-child(5) {
  background-color: #8EBCFD;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader-1 > span:nth-child(6) {
  background-color: #569BFC;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader-1 > span:nth-child(7) {
  background-color: #8EBCFD;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader-1 > span:nth-child(8) {
  background-color: #569BFC;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader-1 > span:nth-child(9) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes loader-1 {
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes loader-1 {
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

/* Loader #2 */
.loader-2 {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader-2 > span {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 20%;
  margin: 5px;
  background-color: #296DCF;
  -webkit-animation: loader-2-3 2.4s linear infinite;
          animation: loader-2-3 2.4s linear infinite;
}

.loader-2 > span:nth-last-child(2) {
  background-color: #569BFC;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader-2 > span:nth-last-child(3) {
  background-color: #8EBCFD;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

/* Loader #3 */
.loader-3 {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader-3 > span {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 20%;
  margin: 5px;
  background-color: #296DCF;
  -webkit-animation: loader-2-3 3.2s linear infinite;
          animation: loader-2-3 3.2s linear infinite;
}

.loader-3 > span:nth-last-child(2) {
  background-color: #569BFC;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader-3 > span:nth-last-child(3) {
  background-color: #296DCF;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.loader-3 > span:nth-last-child(4) {
  background-color: #569BFC;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

@-webkit-keyframes loader-2-3 {
  0% {
    left: 0;
    top: 0;
  }
  10% {
    left: 40px;
    top: 0;
  }
  25% {
    left: 40px;
    top: 0;
  }
  35% {
    left: 40px;
    top: 40px;
  }
  50% {
    left: 40px;
    top: 40px;
  }
  60% {
    left: 0;
    top: 40px;
  }
  75% {
    left: 0;
    top: 40px;
  }
  85% {
    left: 0;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes loader-2-3 {
  0% {
    left: 0;
    top: 0;
  }
  10% {
    left: 40px;
    top: 0;
  }
  25% {
    left: 40px;
    top: 0;
  }
  35% {
    left: 40px;
    top: 40px;
  }
  50% {
    left: 40px;
    top: 40px;
  }
  60% {
    left: 0;
    top: 40px;
  }
  75% {
    left: 0;
    top: 40px;
  }
  85% {
    left: 0;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

/* Loader #4 */
.loader-4 {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader-4 > span {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.loader-4 > span:nth-child(1) {
  background-color: #296DCF;
  -webkit-animation: loader-4_1 6s linear infinite, loader-4-radius 3s infinite, loader-4-scale 1.5s infinite;
          animation: loader-4_1 6s linear infinite, loader-4-radius 3s infinite, loader-4-scale 1.5s infinite;
}

.loader-4 > span:nth-child(2) {
  left: 50%;
  background-color: #569BFC;
  -webkit-animation: loader-4_2 6s linear infinite, loader-4-radius 3s infinite, loader-4-scale 1.5s infinite;
          animation: loader-4_2 6s linear infinite, loader-4-radius 3s infinite, loader-4-scale 1.5s infinite;
}

.loader-4 > span:nth-child(3) {
  top: 50%;
  background-color: #296DCF;
  -webkit-animation: loader-4_3 6s linear infinite, loader-4-radius 3s infinite, loader-4-scale 1.5s infinite;
          animation: loader-4_3 6s linear infinite, loader-4-radius 3s infinite, loader-4-scale 1.5s infinite;
}

.loader-4 > span:nth-child(4) {
  top: 50%;
  left: 50%;
  background-color: #569BFC;
  -webkit-animation: loader-4_4 6s linear infinite, loader-4-radius 3s infinite, loader-4-scale 1.5s infinite;
          animation: loader-4_4 6s linear infinite, loader-4-radius 3s infinite, loader-4-scale 1.5s infinite;
}

@-webkit-keyframes loader-4_1 {
  0% {
    left: 0;
    top: 0;
  }
  10% {
    left: 0;
    top: 0;
  }
  25% {
    left: 50%;
    top: 0;
  }
  35% {
    left: 50%;
    top: 0;
  }
  50% {
    left: 50%;
    top: 50%;
  }
  60% {
    left: 50%;
    top: 50%;
  }
  75% {
    left: 0;
    top: 50%;
  }
  85% {
    left: 0;
    top: 50%;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes loader-4_1 {
  0% {
    left: 0;
    top: 0;
  }
  10% {
    left: 0;
    top: 0;
  }
  25% {
    left: 50%;
    top: 0;
  }
  35% {
    left: 50%;
    top: 0;
  }
  50% {
    left: 50%;
    top: 50%;
  }
  60% {
    left: 50%;
    top: 50%;
  }
  75% {
    left: 0;
    top: 50%;
  }
  85% {
    left: 0;
    top: 50%;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@-webkit-keyframes loader-4_2 {
  0% {
    left: 50%;
    top: 0;
  }
  10% {
    left: 50%;
    top: 0;
  }
  25% {
    left: 50%;
    top: 50%;
  }
  35% {
    left: 50%;
    top: 50%;
  }
  50% {
    left: 0;
    top: 50%;
  }
  60% {
    left: 0;
    top: 50%;
  }
  75% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: 0;
  }
  100% {
    left: 50%;
    top: 0;
  }
}

@keyframes loader-4_2 {
  0% {
    left: 50%;
    top: 0;
  }
  10% {
    left: 50%;
    top: 0;
  }
  25% {
    left: 50%;
    top: 50%;
  }
  35% {
    left: 50%;
    top: 50%;
  }
  50% {
    left: 0;
    top: 50%;
  }
  60% {
    left: 0;
    top: 50%;
  }
  75% {
    left: 0;
    top: 0;
  }
  85% {
    left: 0;
    top: 0;
  }
  100% {
    left: 50%;
    top: 0;
  }
}

@-webkit-keyframes loader-4_3 {
  0% {
    left: 50%;
    top: 50%;
  }
  10% {
    left: 50%;
    top: 50%;
  }
  25% {
    left: 0;
    top: 50%;
  }
  35% {
    left: 0;
    top: 50%;
  }
  50% {
    left: 0;
    top: 0;
  }
  60% {
    left: 0;
    top: 0;
  }
  75% {
    left: 50%;
    top: 0;
  }
  85% {
    left: 50%;
    top: 0;
  }
  100% {
    left: 50%;
    top: 50%;
  }
}

@keyframes loader-4_3 {
  0% {
    left: 50%;
    top: 50%;
  }
  10% {
    left: 50%;
    top: 50%;
  }
  25% {
    left: 0;
    top: 50%;
  }
  35% {
    left: 0;
    top: 50%;
  }
  50% {
    left: 0;
    top: 0;
  }
  60% {
    left: 0;
    top: 0;
  }
  75% {
    left: 50%;
    top: 0;
  }
  85% {
    left: 50%;
    top: 0;
  }
  100% {
    left: 50%;
    top: 50%;
  }
}

@-webkit-keyframes loader-4_4 {
  0% {
    left: 0;
    top: 50%;
  }
  10% {
    left: 0;
    top: 50%;
  }
  25% {
    left: 0;
    top: 0;
  }
  35% {
    left: 0;
    top: 0;
  }
  50% {
    left: 50%;
    top: 0;
  }
  60% {
    left: 50%;
    top: 0;
  }
  75% {
    left: 50%;
    top: 50%;
  }
  85% {
    left: 50%;
    top: 50%;
  }
  100% {
    left: 0;
    top: 50%;
  }
}

@keyframes loader-4_4 {
  0% {
    left: 0;
    top: 50%;
  }
  10% {
    left: 0;
    top: 50%;
  }
  25% {
    left: 0;
    top: 0;
  }
  35% {
    left: 0;
    top: 0;
  }
  50% {
    left: 50%;
    top: 0;
  }
  60% {
    left: 50%;
    top: 0;
  }
  75% {
    left: 50%;
    top: 50%;
  }
  85% {
    left: 50%;
    top: 50%;
  }
  100% {
    left: 0;
    top: 50%;
  }
}

@-webkit-keyframes loader-4-radius {
  50% {
    border-radius: 50%;
  }
}

@keyframes loader-4-radius {
  50% {
    border-radius: 50%;
  }
}

@-webkit-keyframes loader-4-scale {
  50% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}

@keyframes loader-4-scale {
  50% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}

/* Loader #5 */
.loader-5 {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader-5 > span {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
}

.loader-5 > span:nth-child(1) {
  background-color: #296DCF;
  -webkit-animation: loader-5-1 6s 1s linear infinite;
          animation: loader-5-1 6s 1s linear infinite;
}

.loader-5 > span:nth-child(2) {
  left: 50%;
  background-color: #569BFC;
  -webkit-animation: loader-5-2 6s 0.5s linear infinite;
          animation: loader-5-2 6s 0.5s linear infinite;
}

.loader-5 > span:nth-child(3) {
  left: 50%;
  top: 50%;
  background-color: #8EBCFD;
  -webkit-animation: loader-5-3 6s linear infinite;
          animation: loader-5-3 6s linear infinite;
}

@-webkit-keyframes loader-5-1 {
  0% {
    left: 0;
    top: 0;
  }
  5% {
    left: 0;
    width: 70px;
  }
  10% {
    left: 40px;
    width: 30px;
    height: 30px;
  }
  /* break */
  25% {
    left: 40px;
    width: 30px;
    height: 30px;
  }
  30% {
    left: 40px;
    top: 0;
    height: 70px;
  }
  35% {
    left: 40px;
    top: 40px;
    height: 30px;
    width: 30px;
  }
  /* break */
  50% {
    left: 40px;
    top: 40px;
    height: 30px;
    width: 30px;
  }
  55% {
    left: 0;
    top: 40px;
    width: 70px;
  }
  60% {
    left: 0;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  /* break */
  75% {
    left: 0;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  80% {
    top: 0;
    height: 70px;
  }
  85% {
    left: 0;
    top: 0;
    height: 30px;
  }
}

@keyframes loader-5-1 {
  0% {
    left: 0;
    top: 0;
  }
  5% {
    left: 0;
    width: 70px;
  }
  10% {
    left: 40px;
    width: 30px;
    height: 30px;
  }
  /* break */
  25% {
    left: 40px;
    width: 30px;
    height: 30px;
  }
  30% {
    left: 40px;
    top: 0;
    height: 70px;
  }
  35% {
    left: 40px;
    top: 40px;
    height: 30px;
    width: 30px;
  }
  /* break */
  50% {
    left: 40px;
    top: 40px;
    height: 30px;
    width: 30px;
  }
  55% {
    left: 0;
    top: 40px;
    width: 70px;
  }
  60% {
    left: 0;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  /* break */
  75% {
    left: 0;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  80% {
    top: 0;
    height: 70px;
  }
  85% {
    left: 0;
    top: 0;
    height: 30px;
  }
}

@-webkit-keyframes loader-5-2 {
  0% {
    left: 40px;
    width: 30px;
    height: 30px;
  }
  5% {
    left: 40px;
    top: 0;
    height: 70px;
  }
  10% {
    left: 40px;
    top: 40px;
    height: 30px;
    width: 30px;
  }
  /* break */
  25% {
    left: 40px;
    top: 40px;
    height: 30px;
    width: 30px;
  }
  30% {
    left: 0;
    top: 40px;
    width: 70px;
  }
  35% {
    left: 0;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  /* break */
  50% {
    left: 0;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  55% {
    top: 0;
    height: 70px;
  }
  60% {
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
  }
  /* break */
  75% {
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
  }
  80% {
    left: 0;
    width: 70px;
  }
  85% {
    left: 40px;
    width: 30px;
    height: 30px;
  }
}

@keyframes loader-5-2 {
  0% {
    left: 40px;
    width: 30px;
    height: 30px;
  }
  5% {
    left: 40px;
    top: 0;
    height: 70px;
  }
  10% {
    left: 40px;
    top: 40px;
    height: 30px;
    width: 30px;
  }
  /* break */
  25% {
    left: 40px;
    top: 40px;
    height: 30px;
    width: 30px;
  }
  30% {
    left: 0;
    top: 40px;
    width: 70px;
  }
  35% {
    left: 0;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  /* break */
  50% {
    left: 0;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  55% {
    top: 0;
    height: 70px;
  }
  60% {
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
  }
  /* break */
  75% {
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
  }
  80% {
    left: 0;
    width: 70px;
  }
  85% {
    left: 40px;
    width: 30px;
    height: 30px;
  }
}

@-webkit-keyframes loader-5-3 {
  0% {
    left: 40px;
    top: 40px;
    height: 30px;
    width: 30px;
  }
  5% {
    left: 0;
    top: 40px;
    width: 70px;
  }
  10% {
    left: 0;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  /* break */
  25% {
    left: 0;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  30% {
    top: 0;
    height: 70px;
  }
  35% {
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
  }
  /* break */
  50% {
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
  }
  55% {
    left: 0;
    width: 70px;
  }
  60% {
    left: 40px;
    width: 30px;
    height: 30px;
  }
  /* break */
  75% {
    left: 40px;
    width: 30px;
    height: 30px;
  }
  80% {
    left: 40px;
    top: 0;
    height: 70px;
  }
  85% {
    left: 40px;
    top: 40px;
    height: 30px;
    width: 30px;
  }
}

@keyframes loader-5-3 {
  0% {
    left: 40px;
    top: 40px;
    height: 30px;
    width: 30px;
  }
  5% {
    left: 0;
    top: 40px;
    width: 70px;
  }
  10% {
    left: 0;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  /* break */
  25% {
    left: 0;
    top: 40px;
    width: 30px;
    height: 30px;
  }
  30% {
    top: 0;
    height: 70px;
  }
  35% {
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
  }
  /* break */
  50% {
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
  }
  55% {
    left: 0;
    width: 70px;
  }
  60% {
    left: 40px;
    width: 30px;
    height: 30px;
  }
  /* break */
  75% {
    left: 40px;
    width: 30px;
    height: 30px;
  }
  80% {
    left: 40px;
    top: 0;
    height: 70px;
  }
  85% {
    left: 40px;
    top: 40px;
    height: 30px;
    width: 30px;
  }
}

/* Loader #6 */
.loader-6 {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
}

.loader-6 span {
  width: 30px;
  height: 30px;
  background-color: #296DCF;
  -webkit-animation: loader-6 1s linear infinite;
          animation: loader-6 1s linear infinite;
  /* 1 */
  /* 2 */
  /* 3 */
  /* 4 */
  /* 5 */
  /* 6 */
  /* 7 */
  /* 8 */
}

.loader-6 span:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

.loader-6 span:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  -webkit-animation-delay: 0.125s;
          animation-delay: 0.125s;
}

.loader-6 span:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.loader-6 span:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/3/4;
  -webkit-animation-delay: 0.375s;
          animation-delay: 0.375s;
}

.loader-6 span:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3/3/4/4;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader-6 span:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
  -webkit-animation-delay: 0.625s;
          animation-delay: 0.625s;
}

.loader-6 span:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.loader-6 span:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  -webkit-animation-delay: 0.875s;
          animation-delay: 0.875s;
}

@-webkit-keyframes loader-6 {
  0% {
    background-color: #8EBCFD;
  }
  12.5% {
    background-color: #8EBCFD;
  }
  12.51% {
    background-color: #296DCF;
  }
}

@keyframes loader-6 {
  0% {
    background-color: #8EBCFD;
  }
  12.5% {
    background-color: #8EBCFD;
  }
  12.51% {
    background-color: #296DCF;
  }
}

/* Loader #7 */
.loader-7 {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 10px solid #296DCF;
  overflow: hidden;
}

.loader-7 div {
  display: block;
  background-color: #8EBCFD;
  width: 100px;
  height: 100px;
  -webkit-animation: loader-7 4s ease-in-out infinite;
          animation: loader-7 4s ease-in-out infinite;
}

@-webkit-keyframes loader-7 {
  25% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  25.001% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50.001% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  75.001% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes loader-7 {
  25% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  25.001% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50.001% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  75.001% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/* Loader #8 */
.loader-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.loader-8 span {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  -webkit-animation: loader-8 1s linear infinite;
          animation: loader-8 1s linear infinite;
}

.loader-8 span:nth-child(2) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.loader-8 span:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.loader-8 span:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes loader-8 {
  25% {
    background-color: #296DCF;
  }
  50% {
    background-color: #569BFC;
  }
  75% {
    background-color: #8EBCFD;
  }
  100% {
    background-color: white;
  }
}

@keyframes loader-8 {
  25% {
    background-color: #296DCF;
  }
  50% {
    background-color: #569BFC;
  }
  75% {
    background-color: #8EBCFD;
  }
  100% {
    background-color: white;
  }
}

/* Loader #9 */
.loader-9 {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader-9 span {
  width: 80px;
  height: 80px;
  background-color: #8EBCFD;
  border: 10px solid #296DCF;
  -webkit-animation: loader-9 1s linear infinite;
          animation: loader-9 1s linear infinite;
}

@-webkit-keyframes loader-9 {
  40% {
    border-radius: 50%;
    -webkit-transform: rotate(220deg) scale(0.7);
            transform: rotate(220deg) scale(0.7);
  }
  60% {
    border-radius: 50%;
    -webkit-transform: rotate(220deg) scale(0.7);
            transform: rotate(220deg) scale(0.7);
  }
  90% {
    border-radius: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    border-radius: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader-9 {
  40% {
    border-radius: 50%;
    -webkit-transform: rotate(220deg) scale(0.7);
            transform: rotate(220deg) scale(0.7);
  }
  60% {
    border-radius: 50%;
    -webkit-transform: rotate(220deg) scale(0.7);
            transform: rotate(220deg) scale(0.7);
  }
  90% {
    border-radius: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    border-radius: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Loader #10 */
.loader-10 {
  position: relative;
  top: 37.5%;
  left: 37.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100px;
  height: 100px;
  -webkit-animation: loaderDiv 3s linear infinite;
          animation: loaderDiv 3s linear infinite;
}

.loader-10 span {
  width: 50px;
  height: 50px;
  background-color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: loaderSpan 3s linear infinite;
          animation: loaderSpan 3s linear infinite;
}

.loader-10 span:nth-child(1) {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: loaderSpan_1 3s linear infinite;
          animation: loaderSpan_1 3s linear infinite;
}

@-webkit-keyframes loaderDiv {
  5% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  30% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  55% {
    -webkit-transform: rotate(260deg);
            transform: rotate(260deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  80% {
    -webkit-transform: rotate(350deg);
            transform: rotate(350deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loaderDiv {
  5% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  30% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  55% {
    -webkit-transform: rotate(260deg);
            transform: rotate(260deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  80% {
    -webkit-transform: rotate(350deg);
            transform: rotate(350deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loaderSpan_1 {
  6% {
    background-color: #296DCF;
  }
  20% {
    background-color: #296DCF;
  }
  31% {
    background-color: #569BFC;
  }
  45% {
    background-color: #569BFC;
  }
  56% {
    background-color: #8EBCFD;
  }
  70% {
    background-color: #8EBCFD;
  }
  81% {
    background-color: #fff;
  }
  95% {
    background-color: #fff;
  }
}

@keyframes loaderSpan_1 {
  6% {
    background-color: #296DCF;
  }
  20% {
    background-color: #296DCF;
  }
  31% {
    background-color: #569BFC;
  }
  45% {
    background-color: #569BFC;
  }
  56% {
    background-color: #8EBCFD;
  }
  70% {
    background-color: #8EBCFD;
  }
  81% {
    background-color: #fff;
  }
  95% {
    background-color: #fff;
  }
}

@-webkit-keyframes loaderSpan {
  5% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #296DCF;
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #296DCF;
  }
  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #569BFC;
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #569BFC;
  }
  55% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #8EBCFD;
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #8EBCFD;
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
  }
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
  }
}

@keyframes loaderSpan {
  5% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #296DCF;
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #296DCF;
  }
  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #569BFC;
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #569BFC;
  }
  55% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #8EBCFD;
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #8EBCFD;
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
  }
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
  }
}
/*# sourceMappingURL=loader.css.map */