@import url("https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Roboto:400,700&display=swap");
.container {
  background-color: #343D42;
}

.title {
  margin: 20px auto;
  color: white;
  text-align: center;
  font-size: 80px;
  font-weight: normal;
  font-family: 'Love Ya Like A Sister', cursive;
}

.format {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.format .format__block {
  width: 250px;
  max-width: 400px;
  min-width: 150px;
  height: 130px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 7px red;
          box-shadow: 3px 3px 7px red;
  cursor: pointer;
  overflow: hidden;
}

.format .format__block .format__size {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.format .format__block--click {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  -webkit-box-shadow: 0 0 5px red;
          box-shadow: 0 0 5px red;
}

.format .format__popup {
  display: none;
}

.format .format__popup--active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  cursor: default;
}

@media (max-height: 500px) {
  .format .format__popup--active {
    overflow-y: scroll;
  }
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  min-width: 360px;
  max-width: 1000px;
  height: 70%;
  border: 3px solid black;
  border-radius: 100px 0;
  color: black;
  background-color: mintcream;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.popup .popup__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 250px;
  height: 150px;
  text-align: center;
  color: white;
}

.popup .popup__info {
  font-style: italic;
  text-align: center;
  margin: 25px 20px;
}

.popup .popup__dimension {
  font-weight: bold;
  font-style: normal;
}

.popup .popup__close {
  position: absolute;
  top: -10px;
  right: -10px;
  margin: 0;
  width: 50px;
  height: 50px;
  line-height: 45px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup .popup__close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 768px) {
  .popup {
    font-size: 25px;
  }
}

@media (max-width: 640px) {
  .popup {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .popup {
    width: 95%;
    font-size: 22px;
  }
}

@media (max-height: 700px) {
  .popup {
    height: 95%;
  }
}

@media (max-height: 500px) {
  .popup {
    top: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: unset;
  }
}

.format__block:hover .format__size {
  -webkit-transform: scale(1.4) rotate(25deg);
          transform: scale(1.4) rotate(25deg);
}

.format--A .format__block {
  background-color: #5A9EDC;
}

.format--A .format__block .format__size {
  background-color: #497EB1;
}

.format--A .format__popup .popup .popup__size {
  background-color: #5A9EDC;
}

.format--B .format__block {
  background-color: #127E32;
}

.format--B .format__block .format__size {
  background-color: #0E6528;
}

.format--B .format__popup .popup .popup__size {
  background-color: #127E32;
}

.format--C .format__block {
  background-color: #FFB238;
}

.format--C .format__block .format__size {
  background-color: #D1922E;
}

.format--C .format__popup .popup .popup__size {
  background-color: #FFB238;
}
/*# sourceMappingURL=paper.css.map */