/* General */
body {
    background-color: #403F4C;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 1300px;
    min-width: 400px;
    margin: 30px auto;
}

.loader-title {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 35px;
    font-family: verdana, serif;
    font-style: italic;
    letter-spacing: 5px;
}

.loader-container {
    width: 400px;
    height: 400px;
    margin: 10px;
    border: 3px solid white;
    transition: 0.5s;

    &:hover {
        border-color: #296DCF;
    }
}

/* Loader #1 */

.loader-1 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;

    &>span {
        width: 30px;
        height: 30px;
        background-color: #296DCF;
        margin: 1px;
        animation: loader-1 0.8s infinite alternate;
    }

    &>span:nth-child(2) {
        background-color: #569BFC;
        animation-delay: 0.1s;
    }

    &>span:nth-child(3) {
        background-color: #8EBCFD;
        animation-delay: 0.2s;
    }

    &>span:nth-child(4) {
        background-color: #569BFC;
        animation-delay: 0.1s;
    }

    &>span:nth-child(5) {
        background-color: #8EBCFD;
        animation-delay: 0.2s;
    }

    &>span:nth-child(6) {
        background-color: #569BFC;
        animation-delay: 0.3s;
    }

    &>span:nth-child(7) {
        background-color: #8EBCFD;
        animation-delay: 0.2s;
    }

    &>span:nth-child(8) {
        background-color: #569BFC;
        animation-delay: 0.3s;
    }

    &>span:nth-child(9) {
        animation-delay: 0.4s;
    }
}

@keyframes loader-1 {
    100% {
        transform: scale(0.4);
    }
}

/* Loader #2 */

.loader-2 {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &>span {
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 30px;
        border-radius: 20%;
        margin: 5px;
        background-color: #296DCF;
        animation: loader-2 2.4s linear infinite;
    }

    &>span:nth-last-child(2) {
        background-color: #569BFC;
        animation-delay: 0.8s;
    }

    &>span:nth-last-child(3) {
        background-color: #8EBCFD;
        animation-delay: 1.6s;
    }
}

@keyframes loader-2 {
    0% {
        left: 0;
        top: 0;
    }

    10% {
        left: 40px;
        top: 0;
    }

    25% {
        left: 40px;
        top: 0;
    }

    35% {
        left: 40px;
        top: 40px;
    }

    50% {
        left: 40px;
        top: 40px;
    }

    60% {
        left: 0;
        top: 40px;
    }

    75% {
        left: 0;
        top: 40px;
    }

    85% {
        left: 0;
        top: 0;
    }

    100% {
        left: 0;
        top: 0;
    }
}